<html>
    <head>
        <title>Marce's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Marce's Blog</a></h1>
        </div>

        <div>
            <p>Published: 14.05.2016, 15:11</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare</p>
        </div>

        <div>
            <p>Published: 14.05.2016, 15:14</p>
            <h2><a href="">Mi segundo post LOL</a></h2>
            <p>Ñam ñam ñam ñam ñam ñam ñam</p>
        </div>
    </body>
</html>
